*{
    margin:0;
    padding:0;
    font-family: 'Nunito', sans-serif;
}

header {
    max-width:fit-content;
     margin:auto; 
}

body{
    display:flex;
    flex-direction: column;
}
section#maincontainer{
    display:flex;
    flex-direction:column;
    width:75%;
    margin:1em auto;
}

div#searchinput{
    margin:1em auto;
}
div#filterblock{
    margin:0.5em auto;
}

div#results{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
}
div.countryUniv{
    margin:0.5em;
    padding:0.7em;
    max-width: 25%;
    height :fit-content;
    background-color:darkgray;
    border-radius:1em;
    word-wrap: break-word;
}

h2.countryUnivName{
    font-size:1em;
}